.encabezado{
    background-color:#fff; 
    /*width: 100%;
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 20px;
    height: 30px;
    box-sizing:initial;
    position: absolute;
    top: 0;
    left: 0;*/
    box-sizing:initial;
    border-bottom: 1px solid #ccc;}
    #btn-buscar{
        background-color: #00509D;
    }
    #btn-comprar{
        height: 43px;
    text-align: left;
    width: 110px;
    padding: 6px 3px 5px 5px;
    font-size: 12px;
    color: #555;
    border: 1px solid transparent;
    border-width: 2px 1px 0;
    text-decoration: none;
    white-space: normal;
    background-color: #F5F5F5;
    position: relative;
    top: -2px;
    display: block;
    line-height: 14px;
    word-break: normal;
    float: left;
    }
    #btn-comprar:hover{
        color: #0654ba; 
    }
    .cc-Retina{
        background-image: url(https://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png);
    background-repeat: no-repeat;
    background-size: 250px 200px;
    }
    #cc{
        top: -2px;
        display: inline-block;
    height: 7px;
    margin-left: 4px;
    position: relative;
    width: 13px;
    box-sizing: inherit;
    }
    #logo{
        
    }