.encabezado{
    background-color:#fff; 
    /*width: 100%;
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 20px;
    height: 30px;
    box-sizing:initial;
    position: absolute;
    top: 0;
    left: 0;*/
    box-sizing:initial;
    border-bottom: 1px solid #ccc;}
    #btn-buscar{
        background-color: #00509D;
        padding-left: 6px;
        margin-left: 6px;
    }
    #btn-comprar{
        height: 43px;
    text-align: left;
    width: 110px;
    padding: 6px 3px 5px 5px;
    font-size: 12px;
    color: #555;
    border: 1px solid transparent;
    border-width: 2px 1px 0;
    text-decoration: none;
    white-space: normal;
    background-color: #F5F5F5;
    position: relative;
    top: -2px;
    display: block;
    line-height: 14px;
    word-break: normal;
    float: left;
    }
    #btn-comprar:hover{
        color: #0654ba; 
    }
    .cc-Retina{
        background-image: url(https://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png);
    background-repeat: no-repeat;
    background-size: 250px 200px;
    }
    #cc{
        top: -2px;
        display: inline-block;
    height: 7px;
    margin-left: 4px;
    position: relative;
    width: 13px;
    box-sizing: inherit;
    }
    .table-f{
        width: 100%;
    margin-top: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    }
    #gf-1{
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .gh-1{
        display: block;
    }
    .gf-li{
        padding: 0;
    }
    .gf-li:hover{
        color: #767676 !important;
        text-decoration: underline;
        padding: 0;
    }
    .gf-bar-a {
        padding: 0 20px 10px 0;
        font-size: 12px;
    }
    .gf-legal{
        font-size: 11px !important;
    }
    #footer{
        background-color: #FFFFFF;
    text-align: left;
    border-top: 1px solid #ccc;
    }
    #busqueda-avanzada:hover{
        color: #0654BA;
    }
    #lista-categoria button{
        border: none;
    /* text-decoration: underline; */
    background-color: #F5F5F5;
    text-align: left;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,Roboto,sans-serif;
    font-size: 100%;
    }
    #lista-categoria button:hover{
        text-decoration: underline;
    }
    #lista-categoria span{
        display: inline-block;
        width: 91%;
        padding-right: 15px;
        float: left;
    }
    #lista-categoria span:hover{
        text-decoration: underline;
    }
    #lista-categoria i{
        display: inline-block;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    color: #0956BB;
    float: right;
    width: 0%;
    /* size: 500px; */
    position: absolute;
    right: 15px;
    }
    ._F4FABE157A40 {
        background-color: #157A40;
    }
    .b-promobanner {
        position: relative;
    }
    .b-module {
        margin: 24px 0 0;
        border-radius: 4px;
        min-width: 512px;
    }
    .b-module {
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 1px 2px 0 rgba(221,221,221,0.5);
    }
    ._F4FABE157A40 .b-promobanner__info {
        background-color: #157A40;
        color: #F4FABE;
    }
    .d1img70 .b-promobanner__info {
        width: 30%;
    }
    .b-promobanner .b-promobanner__info {
        float: left;
        padding: 24px;
        height: 100%;
        position: absolute;
    }
    .d1img70 .b-promobanner__right {
        width: 70%;
    }
    .b-promobanner__right {
        float: right;
        padding-top: 32.2%;
        position: relative;
    }
    .b-promobanner__right img {
        width: 100%;
        height: 100%;
    }
    .b-img, .b-img img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: auto;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    .b-visualnav__heading {
        padding: 24px;
        font-weight: 400;
        margin: 0;
        font-size: 1.25rem;
    }
    .b-visualnav__grid {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 0 8px;
    }
    .b-visualnav__tile__default {
        width: 20%;
    }
    .b-visualnav__tile {
        text-align: center;
        margin-bottom: 24px;
        opacity: 1;
        animation: fade .3s;
        display: inline-block;
    }
    .b-visualnav__img {
        border: 1px solid transparent;
    }
    .b-visualnav__img, .b-visualnav__title {
        width: 85%;
        margin: 0 auto;
    }
    .b-visualnav__title {
        padding-top: 5px;
        color: #333;
        transition: font-size .3s ease-in-out;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        white-space: normal;
    }
    .b-visualnav__img__default {
        padding-top: 84%;
    }
    .b-visualnav__img {
        height: auto;
        transition: width .3s ease-in-out,height .3s ease-in-out;
        position: relative;
        overflow: hidden;
        border-radius: 2px;
    }
   #cont-art a:hover{
        text-decoration: underline;
    }
    @media only screen and (max-width: 600px) {
        #aside1, #registro, #notificacion, #idioma, #ayuda, #ofertas, #vender, #btn-comprar{
            display: none;
        }
       #form-categoria select, #busqueda-avanzada{
            display: none;
        }
        #input-buscar{
            width: 210px;
        }
    }